#glass {
  display: none;
}

.audio-details {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 80px;
  border: 1px solid #5b2800 !important;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 10px;
  color: #fff7e7;
  transition: .15s ease;
  width: 600px;
}

.audio-details:hover {
  border: 1px solid #ffca55 !important;
  background-color: rgba(0, 0, 0, 0.71);
}

.audio-details h3{
  font-size: 22px;
  font-weight: 300;
  color: #ffca55;
  text-align: center;
}

.audio-details p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.3;
  margin-left: 4px;
}

.audio-details audio {
  margin-left: 150px;
}

#glass-close-audio {
  font-size: 32px;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #ffca55;
  transition: .15s ease;
}

#glass-close-audio:hover {
  color: #5b2800;
  cursor: pointer;
}